<!DOCTYPE html>
<html>
<head>
	<title>添加留言</title>
	<meta charset="utf-8">
</head>
<body>

<h1>添加留言</h1>
<h2><a href="<{:U('lst')}>">留言列表</a></h2>

<form enctype="multipart/form-data" action="<{:U('doadd')}>" method="post">
	
	<div>
		标题:<input size="60" type="text" name="title" />
	</div>
	<div>
		内容:<textarea name="content" rows="10" cols="60"></textarea>		
	</div>
	<div>
		验证码:<input type="text" name="captcha" />
		<img style="cursor: pointer;" onclick="this.src='<{:U('captcha')}>'+Math.random();" src="<{:U('captcha')}>">
	</div>
	<hr/>
	<div>
		图片:<input type="button" id='add_img' value='添加图片' />
		<ul id='img_list'>
			<li><input type="file" name="image[]" /></li>
		</ul>
	</div>
	<div>
		<input type="submit" value="添加" />
		<input type="reset" value="重填" />
	</div>
	
</form>

</body>
</html>


<script type="text/javascript" src="/Public/bootstrap/js/jquery.js"></script>
<script type="text/javascript">
	$("#add_img").click(function(){
		$("#img_list").append("<li><input type='file' name='image[]' /></li>");
	});
</script>