<!DOCTYPE html>
<html>
<head>
	<title>留言列表</title>
	<meta charset="utf-8">
	<style type="text/css" >
		.page{
			margin:10px 0px;
		}
		.page a{
			margin:10px;
			padding:3px 6px;
			border:1px solid red;
			
		}
	</style>
</head>
<body>

<h1>留言列表</h1>
<h2><a href="/index.php/Home/Note/add">添加留言</a></h2>

<form>
标题:<input name="title" type="text" value="<{$Think.get.title}>" />
时间从:<input name="start" type="text" value="<{$Think.get.start}>" />
到:<input name="end" type="text" value="<{$Think.get.end}>" />
<input type="submit" value="查询" />
</form>

<div class="page"><{$show}></div>

<form method="POST" action="/Home/Note/pldelete">
	<table border="1" width="100%">
		<tr>
			<th>选择</th>
			<th>Id</th>
			<th>图片</th>
			<th>标题</th>
			<th>内容</th>
			<th>添加时间</th>
			<th>ip</th>
			<th>操作</th>
		</tr>
		<foreach name="data" item="lst">
		 	<tr>
		 		<td><input type="checkbox" name="selId[]" value="<{$lst.id}>" /></td>
		 		<td><{$lst.id}></td>
		 		<td><img src="/Public/Uploads/<{$lst.img_path_mid}>"></td>
		 		<td><{$lst.title|htmlspecialchars}></td>
		 		<td><{$lst.content|mb_substr=0,70,'utf8'|htmlspecialchars}><gt name="lst.content|mb_strlen='utf8'" value="70">...</gt></td>
		 		<td><{$lst.addtime}></td><td><{$lst.ip|long2ip}></td>
		 		<td><a onclick="return confirm('确认删除吗?');" href="/Home/Note/delete/id/<{$lst.id}>">删除</a></td>
		 	</tr>
		</foreach>
	</table>
	<input type="submit" value="删除所选" />
</form>
<div class="page"><{$show}></div>

</body>
</html>